# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.DS_Store

# Large datasets & raw archives
*.tar
*.tar.gz
*.zip
dataset_thermal_brake/
runs/
*.pt
